<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Veterinario</th>
        <th scope="col">disponibilidad</th>
        <th scope="col">Contacto</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>marcos dasencich</td>
        <td>disponible</td>
        <a href="/servicios" class="text-dark">Ver más</a>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>descansando</td>
        <a href="/servicios" class="text-dark">Ver más</a>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td colspan="2">Larry the Bird</td>
        <td></td>
      </tr>
    </tbody>
  </table>